<div class="bg-primary py-4 shadow-lg">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-11 text-light">
				<h1 class="font-weight-bold mt-2"><%= name %></h1>
				<p class="text-muted"><%= email %></p>
			</div>
			<div class="col-12 col-md-1">
				<a href="/admin/logout">
					<button class="btn btn-danger mt-4 rounded-pill px-4 py-2">
						Logout
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container mt-5">
	<div class="cards-section">
		<div class="row">
			<div class="col-12 col-md-6 p-2 d-flex align-items-center  justify-content-center justify-content-md-end">
				<div
					class="bg-light-warning py-5 rounded-lg w-75 shadow-sm"
				>
					<div class="text-center text-uppercase">
						<img class="w-75px" src="img/svg/add-book-icon.svg" alt="add book icon">
						<h5 class="text-warning font-weight-bold mt-4">Create new exam</h5>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 p-2 d-flex align-items-center  justify-content-center justify-content-md-start">
				<div
					class="bg-light-blue py-5 rounded-lg w-75 shadow-sm"
				>
					<div class="text-center text-uppercase">
						<img class="w-75px" src="img/svg/update-icon.svg" alt="update icon">
						<h5 class="text-blue font-weight-bold mt-4">Update Exam</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 p-2 d-flex align-items-center  justify-content-center justify-content-md-end">
				<div
					class="bg-light-success py-5 rounded-lg w-75 shadow-sm"
				>
					<div class="text-center text-uppercase">
						<img class="w-75px" src="img/svg/download-icon.svg" alt="download icon">
						<h5 class="text-deep-green font-weight-bold mt-4">download exam data</h5>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 p-2 d-flex align-items-center  justify-content-center justify-content-md-start">
				<div
					class="bg-light-danger py-5 rounded-lg w-75 shadow-sm"
				>
					<div class="text-center text-uppercase">
						<img class="w-75px" src="img/svg/cancel-icon.svg" alt="cancel icon">
						<h5 class="text-deep-red font-weight-bold mt-4">cancel exam</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
