<div class="bg-primary py-4">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-11 text-light">
				<h1>Teacher Name</h1>
				<p class="lead">teacher@email.com</p>
			</div>
			<div class="col-12 col-md-1">
				<a href="/users/logout">
					<button class="btn btn-danger mt-4">
						Logout
					</button>
				</a>
			</div>
		</div>
	</div>
</div>

<p class="text-light">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam iste
	reprehenderit ullam quisquam? Repellat quis illum libero nemo, ut obcaecati
	nam asperiores laudantium nulla beatae eum nesciunt animi exercitationem
	quo.
</p>
